[submodule "enmapbox/qgispluginsupport"]
	path = enmapbox/qgispluginsupport
	url = https://github.com/EnMAP-Box/qgispluginsupport.git
	pushurl = git@github.com:EnMAP-Box/qgispluginsupport.git
	branch = master
