# Untracked directories
.idea/
.pytest_cache/
deploy/
build/
tmp/
*/tmp/
doc/build/
*/build/
test-reports/
test-outputs/
*.log
qgisresources
qgisresources/
qgisresources.zip
examples/*.geojson
examples/*.json
examples/*.qml
symbology-style.db
# enmapbox/exampledata/*.gpkg


# we do not like to have compiled qt resource files in our repository!
*_rc.py

enmapboxtestdata.zip

user-history.db

.coverage

# Untrack compiled files
*.pyc*
*.pyd

#are changed all the time, should be commited explicitely
*.aux.xml
*bsq.aux.xml
*.cache/
*.cache/*
/documentation/build/doctrees/
/enmapbox/gui/ui/tmp.ui
doc/build
/.gitignore
/tests/test-*/
/test-reports/
hubdc/gis/
*.gpkg-shm
*.gpkg-wal
enmapbox/enmapboxexampledata.zip
*.pkl
