# this file lists packages that are required to run the EnMAP-Box
# depending on your system it might be necessary to install required package with package installers others than pip
# see https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
# see https://www.python.org/dev/peps/pep-0440/#version-specifiers
###### Requirements ######
# required to build the EnMAP-Box
gitpython
git-lfs

pytest
pytest-env
pytest-cov
pytest-xdist # parallel testing
docutils
markdown
coverage

# clean code
flake8
flake8-qgis

urlchecker
typeguard==2.13.3  # version 3.x created several problems

#standard requirements
-r requirements.txt
