# this file lists packages that are required to run the EnMAP-Box
# depending on your system it might be necessary to install required package with package installers others than pip
# see https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
# see https://www.python.org/dev/peps/pep-0440/#version-specifiers
###### Requirements ######

# should be already part of a standard QGIS installation
scipy>=1.1
numpy>=1.15
matplotlib>=3.0
pip>=20.0
dataclasses # ; python_version < '3.7'

# PyQt5-sip  # commented out; caused "Unable to import PyQt5-sip" issue, see #718

# required by parts of EnMAP-Box Core
typeguard=2.13.3  # version 3.x created several problems
scikit-learn>=0.24
astropy # required for convolution
PyOpenGL # required by ImageCube app
xgboost # required by XGBoost classifier/regressor, see #960
lightgbm # required by LightGBM classifier/regressor, see #960
catboost # required by CatBoost classifier/regressor, see #960

# required by parts of EnMAP-Box Applications
sympy # required by EnSoMAP
numba>=0.56.4 # required by EnSoMAP
netCDF4 # required by ONNS
enpt-enmapboxapp # required by EnPT

# moved scikit-learn to bottom because of
# https://github.com/qgis/QGIS/issues/51557
scikit-learn>=0.24
