# required by parts of EnMAP-Box Core
typeguard==2.13.3  # version 3.x created several problems
astropy # required for convolution
xgboost # required by XGBoost classifier/regressor, see #960
lightgbm # required by LightGBM classifier/regressor, see #960
catboost # required by CatBoost classifier/regressor, see #960

# required by parts of EnMAP-Box Applications
sympy # required by EnSoMAP
numba>=0.57 # required by EnSoMAP
netCDF4 # required by ONNS
enpt-enmapboxapp # required by EnPT
scikit-learn>=1.0
PyOpenGL
