Sandbox.py
/iREIP/iREIP_exec.py
/LUT/CreateLUT_exec.py
/LUT/InvertLUT_exec.py
/Processor/Processor_Inversion_exec.py
/Processor/Processor_Training_exec.py
/PWR/PWR_exec.py
/Spec2Sensor/Spec2Sensor_exec.py
/VIT/VIT_exec.py
/Resources/UserInterfaces/IVVRM_Background.png

/Processor/ideal_v3/
/Processor/modAL/
/Resources/Spec2Sensor/Spec2Sensor_exec.py
/Resources/Spec2Sensor/srf/EnMAP_noWaterV_generic.srf
/Resources/Spec2Sensor/srf/EnMAP_noOverlap_generic.srf
/Resources/Spec2Sensor/srf/EnMAP_ComPhase_generic.srf
/Resources/Spec2Sensor/srf/CHIME_generic.srf
